@{
    ViewBag.Title = "社区首页";
    Layout = "~/Areas/Forum/Views/Shared/_Layout.cshtml";
}

<div id="forum-top">
    <div class="forum-wrapper">
        <div id="forum-logo" class="forum-float-left">
            <a href="#" title="" class="display-block"><img src="~/Areas/Forum/Assets/Images/forum-logo.png" alt="" title="" class="forum-display-block" /></a>
        </div>
        <div id="forum-top-search" class="forum-float-left">
            <span class="forum-iconfont icon-forum-search"></span>
            <input type="text" class="forum-top-search-input" placeholder="输入关键字搜索..." />
        </div>
        <div id="forum-top-nav" class="forum-float-right">
            <a href="#" title="#">首页</a>
            <a href="#" title="#">登录</a>
            <a href="#" title="#">注册</a>
            <a href="#" title="#">关于</a>
            <a href="#" title="#">百签软件</a>
        </div>
    </div>
</div>
<div id="forum-container" class="forum-clear-both forum-auto-height">
    <div class="forum-wrapper">
        <div id="forum-articles" class="forum-float-left">
            <div id="forum-article-classify">
                <a href="#" class="selected">全部</a>
                <a href="#">最新发表</a>
                <a href="#">抢沙发</a>
                <a href="#">精华帖子</a>
            </div>
            <div class="forum-article-list forum-clear-both">
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
                <div class="forum-article-item forum-clear-both forum-auto-height">
                    <div class="forum-article-member forum-float-left">
                        <a href="#" title="" class="forum-display-block"><img src="~/Areas/Forum/Assets/Images/default-pic.jpg" alt="" title="" class="forum-display-block" /></a>
                    </div>
                    <div class="forum-article-props forum-float-left">
                        <div class="forum-article-title">
                            <a href="#" title="#" class="forum-item-classify">[技术分享]</a>
                            <a href="#" title="#" class="forum-item-title">百签软件（中山）有限公司国庆放假消息。</a>
                        </div>
                        <div class="forum-article-pushinfo forum-clear-both">
                            <span class="forum-article-tip">发布者：</span><a href="#" class="forum-article-info">百小僧</a> <span class="forum-article-tip">2016-09-22，最后回复来自：</span><a href="#" class="forum-article-info">百签软件</a>
                            <div class="forum-article-record forum-float-right"><span class="forum-iconfont icon-forum-chakan">9</span><span class="forum-iconfont icon-forum-pinglun">5</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="forum-others" class="forum-float-right"></div>
    </div>
</div>