@{
    ViewBag.Title = ViewBag.HaviorInfo.Name + " - " + ViewBag.SysSetInfo.Name;
    Layout = ViewBag.HaviorInfo.Layout;
}
@section head{
    @ViewBag.HaviorInfo.HeadCode
}

<h2>控制台管理中心</h2>

@section foot{
    @ViewBag.HaviorInfo.FootCode
}