
@{
    ViewBag.Title = "管理入口";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}
@section bodyAttr{class="signin-body"}
<div class="signin-container">
    <div class="signin-logo">
        <a href="http://www.baisoft.org" class="" title="百签软件有限公司">
            <img src="~/Areas/Backend/Assets/Images/baisoft-logo.png" class="display-block" alt="百签软件有限公司" title="百签软件有限公司" />
        </a>
    </div>
    <form class="monk-form">
        <div class="monk-form-item">
            <label for="Account" class="monk-form-label">会员账号</label>
            <div class="monk-form-wrap">
                <span class="monk-iconfont border-right icon-backend-account"></span>
                <input type="text" class="monk-form-input" name="Account" id="Account" placeholder="请输入会员账号" />
                <span class="monk-iconfont icon-monk-required"></span>
                <span class="monk-iconfont border-left icon-monk-dacha monk-clear-input"></span>
            </div>
            <div class="monk-form-tip">账号由3-16位英文字母，数字或中文组成</div>
        </div>
        <div class="monk-form-item">
            <label for="Password" class="monk-form-label">会员密码</label>
            <div class="monk-form-wrap">
                <span class="monk-iconfont border-right icon-backend-lock"></span>
                <input type="password" class="monk-form-input" name="Password" id="Password" placeholder="请输入会员密码" />
                <span class="monk-iconfont icon-monk-required"></span>
                <span class="monk-iconfont border-left icon-monk-dacha monk-clear-input"></span>
            </div>
            <div class="monk-form-tip">密码由6-20位英文字母、数字或符号组成</div>
        </div>
        <input type="submit" class="monk-input-button turquoise monk-form-submit width-full" value="保存提交">
    </form>
</div>