@{
    ViewBag.Title = "系统模块";
    Layout = "~/Areas/Backend/Views/Shared/_List.cshtml";
}

@section head{
    <style>
        .backend-operate { display: none; }
        .backend-content { bottom: 0; }
    </style>
}

@section crumbs{
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="系统管理">系统管理</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="模块管理">模块管理</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="系统栏目">系统栏目</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="栏目列表">栏目列表</a>
}


@section buttons{
    <span class="list-btn" onclick="backend.checkall(this);"><i class="monk-iconfont icon-backend-quanxuan"></i><label>全选</label></span>
    <span class="list-btn float-right search-btn" onclick="backend.openSearch()"><i class="monk-iconfont icon-backend-search-list"></i><label>搜索</label></span>
}

<div class="monk-table">
    <table>
        <thead>
            <tr>
                <th align="center" class="monk-table-status">
                    选择
                </th>
                <th align="center" class="monk-table-status">
                    图标
                </th>
                <th align="left">
                    名称
                </th>
                <th align="left" class="monk-table-status">
                    排序
                </th>
                <th align="center" class="monk-table-status">
                    开放
                </th>
                <th align="center" class="monk-table-status">
                    默认
                </th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

@section foot{
    <script type="text/html" id="tpl">
        <tr>
            <td class="monk-td-radio">
                <span class="monk-iconfont icon-backend-checkbox list-radio" data-id="<%=obj.ModuleID %>"></span>
            </td>
            <td class="monk-table-status">
                <i class="monk-iconfont <%=obj.Iconfont %>"></i>
            </td>
            <td>
                <%=space %><%=obj.ModuleID=="11111111-1111-1111-1111-111111111111"?'<i class="monk-iconfont icon-backend-folder-open"></i> ':'<i class="monk-iconfont icon-backend-tree-line"></i>' %><label><%=obj.Name %></label><span class="module-link">[ <%=backend.setNull(obj.Url,"无") %> ]</span>
            </td>
            <td class="monk-table-status">
                <input type="number" class="list-textbox-sort" value="<%=obj.Sort %>" onkeyup="this.value=this.value.replace(/!^[0-9]*$/g,'')" onafterpaste="this.value=this.value.replace(/!^[0-9]*$/g,'')" />
            </td>
            <td class="monk-table-status">
                <%=backend.setStatus(obj.Enable) %>
            </td>
            <td class="monk-table-status">
                <%=backend.setStatus(obj.Default) %>
            </td>
        </tr>
    </script>
    <script type="text/javascript">
        var render = monk.tppl(document.getElementById("tpl").innerHTML);
        function getModuleTreeHtml(data) {
            var treeHtml = "";
            function core(parentId, level) {
                var queryResult = Enumerable.from(data).where(function (x) { return x.ParentID == parentId; }).orderBy(function (x) { return x.Sort; }).toArray();
                if (queryResult.length > 0) {
                    level++;
                    var spaceHtml = "";
                    for (var i = 0; i < level - 1; i++) {
                        spaceHtml += '<span class="space"></span>';
                    }
                    queryResult.forEach(function (x) {
                        var merge = {
                            obj: x,
                            space: spaceHtml
                        }
                        treeHtml += render(merge);
                        core(x.ModuleID, level);
                    });
                }
                level = 0;
            }
            core("00000000-0000-0000-0000-000000000000", 0);
            return treeHtml;
        }

        $(function () {
            backend.get("@Url.Action("Modules","Module")", {}, function (data) {
                $(".monk-table table tbody").html(getModuleTreeHtml(data.data));
            });
        });
    </script>
}