@{
    ViewBag.Title = "登录日志";
    Layout = "~/Areas/Backend/Views/Shared/_List.cshtml";
}

@section crumbs{
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="数据管理">数据管理</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="日志管理">日志管理</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="登录日志">登录日志</a>
    <label class="backend-crumbs-separator">/</label>
    <a href="#" title="日志列表">日志列表</a>
}
<div class="monk-table">
    <table>
        <thead>
            <tr>
                <th align="center">
                    选择
                </th>
                <th align="left">
                    内容
                </th>
                <th align="left">
                    内容
                </th>
                <th align="left">
                    内容
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="monk-td-radio">
                    选择
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    选择
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    选择
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
            </tr>
            <tr>
                <td class="monk-td-radio">
                    选择
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
                <td>
                    这里是内容
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>

